@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Merriweather", serif;
  --font-size-base: 14px;
  --font-size-heading: 2rem;
  --font-size-body: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* border: 1px solid black; */
  max-width: 750px;
  margin: 24px;
  display: flex;
  position: relative;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  text-wrap: wrap;
  position: absolute;
  width: 300px;
  color: white;
  bottom: 7px;
  left: 36px;
  width: 270px;
}

.portrait picture,
.portrait img {
  display: block;
}

.portrait img {
  /* border: 1px solid red; */
  /* vertical-align: top; */
  width: 270px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  /* border-radius: 2px; */
}

.about-me {
  height: 270px;
  /* border: 1px solid grey; */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  padding: 20px;
}

.about-me h2 {
  padding-top: 10px;
}

.links-container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.my-work {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  margin-top: 48px;
  max-width: 750px;
  width: 100%;
}

.my-work h2 {
  margin-bottom: 12px;
}

.card-container {
  /* border: 1px solid lightblue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px 27px;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 270px;
  width: 100%;
}

.project-pic {
  height: 160px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  color: white;
  text-align: center;
  font-size: 150%;
}

.project-info {
  flex-grow: 1;
  /* border: 1px solid purple; */
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.card-title {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-style: semi-bold;
  font-size: 16px;
}

footer {
  background-color: antiquewhite;
  width: 100vw;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  max-width: 750px;
  border: 1px solid black;
  /* margin-inline: auto; */
  display: flex;
  flex-direction: row;
  height: 300px;
}
