@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-primary: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-secondary: "Merriweather", serif;
  --font-size-base: 16px;
  --font-size-heading: 2rem;
  /* --font-size-body: 1rem; */
  --line-height-body: 1.5;
  --line-height-heading: 1.3;
  --letter-spacing-heading: 0.5px;

  --background-color: #f7f7f7;
  --accent-color: #4287f5;

  --shadow-color: 0deg 0% 61%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.31),
    0.4px 0.9px 1.2px -1.1px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.6px -2.2px hsl(var(--shadow-color) / 0.37);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.33),
    0.9px 1.8px 2.4px -0.7px hsl(var(--shadow-color) / 0.35),
    2.1px 4.3px 5.6px -1.5px hsl(var(--shadow-color) / 0.38),
    5.1px 10.2px 13.3px -2.2px hsl(var(--shadow-color) / 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

h1,
h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-heading);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  max-width: 750px;
  margin: 24px;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-wrap: wrap;
  position: absolute;
  color: white;
  bottom: 7px;
  left: 36px;
  width: 270px;
}

.portrait img {
  display: block;
  width: 270px;
  box-shadow: var(--shadow-elevation-medium);
}

.squiggle {
  background-image: linear-gradient(
    to right,
    var(--accent-color) 0%,
    var(--accent-color) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: inherit;
}

.squiggle:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-15px);}}%3C/style%3E%3Cpath fill='none' stroke='%230087ca' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 4px;
}

.about-me {
  /* height: 270px; */
  box-shadow: var(--shadow-elevation-medium);
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px;
  background-color: white;
}

.about-me h2 {
  padding-top: 10px;
  margin-bottom: 7px;
  width: 160px;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.links-container img {
  height: 24px;
}

.about-me .links-container {
  justify-content: flex-end;
  margin-top: 7px;
}

.my-work {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  margin-top: 48px;
  max-width: 750px;
  width: 100%;
}

.my-work h2 {
  margin-bottom: 12px;
  width: 150px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px 27px;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-elevation-medium);
  background-color: white;
  height: 270px;
  width: 100%;
}

.project-pic {
  height: 160px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  color: white;
  text-align: center;
  font-size: 150%;
}

.project-info {
  flex-grow: 1;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.card-title {
  font-family: var(--font-secondary);
  font-weight: 600;
}

.card-links {
  display: flex;
  align-items: center;
  padding-top: 2px;
  gap: 5px;
}

.card-links img {
  height: 18px;
}

.card-body {
  font-size: 13px;
}

footer {
  width: 100vw;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 32px 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-container h2 {
  margin-bottom: 15px;
  width: 190px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.phone-and-email {
  display: flex;
  flex-direction: column;
}

.phone-and-email a {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: #333;
}

.phone-and-email img {
  height: 21px;
}

.contact-picture img {
  box-shadow: var(--shadow-elevation-low);
  display: block;
}

@media (max-width: 870px) {
  header {
    max-width: 550px;
    display: block;
    margin-top: 48px;
    margin-left: 48px;
  }

  .portrait {
    float: left;
    z-index: -1;
    transform: translate(-24px, -10px);
    margin: 0 -4px -10px 0;
  }

  .portrait img {
    width: 240px;
  }

  h1 {
    color: black;
    position: static;
    width: auto;
    padding: 10px;
  }

  .about-me {
    display: block;
  }

  .about-me h2 {
    display: flex;
  }

  .my-work {
    max-width: 550px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 550px;
    /* margin: 0 24px; */
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 550px;
    grid-gap: 27px;
    margin: 0 24px;
  }

  .contact-container {
    justify-content: center;
  }

  .contact-picture img {
    width: 100%;
  }
}

@media (max-width: 520px) {
  header {
    max-width: 270px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portrait {
    transform: none;
    margin: 0;
  }

  .portrait img {
    width: 220px;
  }

  h1 {
    position: absolute;
    color: white;
    height: 60px;
    /* margin: 0; */
    top: 190px;
    left: 70px;
    font-size: 16px;
  }

  .about-me {
    display: flex;
    box-shadow: none;
    padding: 10px;
    gap: 7px;
    background-color: var(--background-color);
  }

  h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    justify-content: center;
  }

  .about-me h2 {
    padding-top: 5px;
    margin-bottom: 0;
    width: 140px;
  }

  p {
    font-size: 14px;
  }

  .about-me .links-container {
    justify-content: center;
  }

  .my-work {
    margin: 24px;
    max-width: 270px;
  }

  .my-work h2 {
    width: 130px;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .card {
    height: 300px;
  }

  .project-info {
    padding: 10px 15px;
  }

  .card-links img {
    height: 21px;
  }

  .card-body {
    font-size: 14px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    margin: 0;
  }

  .contact-container {
    padding: 24px;
    padding-bottom: 48px;
  }

  .contact-container h2 {
    width: 160px;
    margin-bottom: 16px;
  }

  .footer-links {
    justify-content: center;
  }

  .contact-picture img {
    object-fit: cover;
    height: 400px;
  }
}

.wavy-line {
  --s: 40px; /* size of the wave */
  --b: 9px; /* thickness of the line */
  --m: 1; /* curvature of the wave [0 2] */

  background: var(--accent-color);
  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  height: calc(2 * var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
      calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(
        var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
      calc(var(--s) + var(--b)) repeat-x;
}
